/* adição de um estilo ao css já existente do bootstrap */
.active {
	background-color: gray;
}

.navbar {
	z-index: 99;
}

/* colocar mais espaço em volta do container  */
#dados_moedas{
	margin-top: 50px;
}

#barra_procura{
	margin-right: 0px;
}

#logo_moeda{
	height: 20px;
}
